<app-nav-bar (getMachines)="getMachines()" (getPods)="getPods()"></app-nav-bar>
<div *ngIf="itemSelected && selectedMachine" class="grid-container">
    <h1 class="mat-h1">Selected Machine</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{selectedMachine.size_name + ' | ' + selectedMachine.model_name + (selectedMachine.water_line ? ' | Water Line Compatible' : '')}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Do Nothing</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            {{selectedMachine.sku}}
            <br>
            <img class="machine-size-image" [src]="assetFolder + '/' + selectedMachine.size_name + '.jpeg'"/>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="itemSelected && selectedPod" class="grid-container">
      <h1 class="mat-h1">Selected Pod</h1>
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{selectedPod.size_name + ' | ' + selectedPod.flavor_name + ' | ' + selectedPod.quantity}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Do Nothing</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              {{selectedPod.sku}}
              <br>
              <img class="machine-size-image" [src]="podSrc[selectedPod.pod_id % 4]" />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  <div *ngIf="displayMachineSizes && !itemSelected" class="grid-container">
      <h1 class="mat-h1">Select a Machine</h1>
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let m of displayMachines" [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                  {{m.size_name + ' | ' + m.model_name + (m.water_line ? ' | Water Line Compatible' : '')}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="selectMachine(m.coffee_machine_id)">Select</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              {{m.sku}}
              <br>
              <img class="machine-size-image" [src]="assetFolder + '/' + m.size_name + '.jpeg'"/>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
<div *ngIf="showMachines && !itemSelected && !displayMachineSizes" class="grid-container">
    <h1 class="mat-h1">Select a Machine Size</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let size of machineSizes" [colspan]="size.cols" [rowspan]="size.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{size.size_name}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="selectMachineSize(size.size_id)">Select</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <img class="machine-size-image" [src]="assetFolder + '/' + size.size_name + '.jpeg'"/>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div *ngIf="showDisplayPods && !itemSelected" class="grid-container">
      <h1 class="mat-h1">Select a Pod</h1>
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let pod of displayPods" [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{pod.size_name + ' | ' + pod.flavor_name + ' | ' + (pod.quantity / 12) + ' Dozen'}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="selectPod(pod.pod_id)" >Select</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>{{pod.sku}}</div>
              <br>
              <img class="machine-size-image" [src]="podSrc[pod.pod_id % 4]" />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div *ngIf="showPods && !itemSelected" class="grid-container">
        <h1 class="mat-h1">Select a Pod Size</h1>
        <mat-grid-list cols="2" rowHeight="350px">
          <mat-grid-tile *ngFor="let s of podSizes" [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                    {{s.size_name}}
                  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="selectPodSize(s.size_id)">Select</button>
                  </mat-menu>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                try this size!
                <br>
                <img class="machine-size-image" [src]="podSrc[s.size_id % 4]" />
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div *ngIf="itemSelected" class="grid-container">
          <h1 class="mat-h1">Cross Sell</h1>
          <mat-grid-list cols="2" rowHeight="350px">
            <mat-grid-tile *ngFor="let pod of crossPods" [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-header>
                  <mat-card-title>
                    {{pod.size_name + ' | ' + pod.flavor_name + ' | ' + (pod.quantity / 12) + ' Dozen'}}
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                      <button mat-menu-item (click)="selectPod(pod.pod_id)" >Expand</button>
                    </mat-menu>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                  <div>{{pod.sku}}</div>
                  Go ahead and buy these pods as well, life is short!
                  <br>
                  <img class="machine-size-image" [src]="podSrc[pod.pod_id % 4]" />
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
